.m-nav .crumb{margin-left:20px;margin-top:5px; position: relative;}
.m-nav .crumb .toggle-btn{float:right;margin:4px 0 0 4px;height:24px;line-height:24px;border:solid 1px #e8e8e8;padding:0 9px;background:#f6f6f6;color:#6b6b6b;cursor:pointer;text-decoration:none}
.m-nav .crumb .toggle-btn:hover{color:#f40}
.m-nav .crumb .toggle-btn .arrow{margin-left:8px;vertical-align:middle}
.m-nav .crumb .show-expand .expand{display:inline-block}
.m-nav .crumb .show-expand .collapse{display:none}
.m-nav .crumb .show-collapse .expand{display:none}
.m-nav .crumb .show-collapse .collapse{display:inline-block}
.m-nav .crumb .icon-btn-vbarrow{float:left;margin:10px 5px 0}
.m-nav .crumb .query{margin-top:4px;float:left;display:inline;line-height:18px;height:18px;padding:0 6px;background:#ffefe7;border:solid 1px #feb08a;color:#f40}
.m-nav .crumb .cat,.m-nav .crumb .cat-text{margin-top:4px;float:left;display:inline;line-height:20px;height:20px;color:#666;text-decoration:none}
.m-nav .crumb .cat:hover{color:#f40}
.m-nav .crumb .pro{position:relative;margin:4px 5px 0 0;padding:0 19px 0 4px;float:left;max-width:200px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;border:1px solid #e8e8e8;height:18px;line-height:18px;color:#666;text-decoration:none}
.m-nav .crumb .pro:hover{border-color:#f40}
.m-nav .crumb .pro .icon-btn-x{position:absolute;right:6px;top:6px}
.m-nav .crumb .total{float:left;margin:4px 4px 0 4px;line-height:20px;color:#3c3c3c;text-decoration:none}
.m-nav .crumb .link{color:#f40;text-decoration:underline}
.m-nav .groups{margin-top:11px;position:relative}
.m-nav .group{border:1px solid #e8e8e8;margin-top:-1px}
.m-nav .group .row{position:relative;border-top:1px dashed #dedede;margin:0 8px}
.m-nav .group .row-first,.m-nav .group .row:first-child{border-top:none}
.m-nav .group .head{position:absolute;left:11px;top:9px;color:#999}
.m-nav .group .head h4{font-weight:400;font-size: 12px;margin:0;}
.m-nav .group .head .title{float:left;max-width:80px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.m-nav .group .head .cat-title{color:#666;text-decoration:none}
.m-nav .group .head .cat-title:hover{color:#f40}
.m-nav .group .head .arrow{position:absolute;left:80px;top:5px;display:inline-block;width:0;height:0;line-height:0;border-style:dashed;border-color:transparent;border-width:4px;font-size:0;border-left-style:solid;border-left-color:#ccc}
.m-nav .group .body{padding:0 100px 0 112px}
.m-nav .group .body .items{height:36px;overflow:hidden}
.m-nav .group .body .items-show2line{height:72px}
.m-nav .group .body .item{float:left;margin:7px 40px 8px 0;height:18px;color:#000;text-decoration:none}
.m-nav .group .body .item:hover{color:#f40}
.m-nav .group .body .text{float:left;max-width:140px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.m-nav .group .body .desc-icon{float:left;margin:-4px 5px 0 0;width:25px;height:25px}
.m-nav .group .body .icon-btn-check-small{display:none;float:left;margin:4px 5px 0 0}
.m-nav .group .body .icon-btn-baike-i{float:left;display:inline;margin:4px 0 0 5px}
.m-nav .group .body .btns{display:none;text-align:center}
.m-nav .group .body .cancel,.m-nav .group .body .submit{display:inline-block;margin:5px;border-radius:2px;height:20px;width:42px;line-height:20px;text-align:center;text-decoration:none;cursor:pointer}
.m-nav .group .body .submit{color:#fff;background:#F94700;border:1px solid #F94700}
.m-nav .group .body .submit:hover{background:#f82800}
.m-nav .group .body .cancel{border:1px solid #e8e8e8}
.m-nav .group .body .cancel:hover{color:#f82800;border-color:#f82800}
.m-nav .group .has-overlay .body{padding:0 0 0 94px}
.m-nav .group .has-overlay .items{padding-right:0}
.m-nav .group .has-overlay .trigger{position:relative;float:left;padding:0 32px 0 18px;height:36px;line-height:36px;cursor:pointer;color:#000}
.m-nav .group .has-overlay .trigger .icon-btn-arrow-2-h{position:absolute;right:18px;top:17px}
.m-nav .group .has-overlay .trigger-hover{background:#e2e2e2}
.m-nav .group .has-overlay .overlay{display:none;position:absolute;z-index:100;top:36px;left:-9px;right:-9px;border:1px solid #e2e2e2;background:#fff;-webkit-box-shadow:0 2px 3px rgba(51,51,51,.1);-moz-box-shadow:0 2px 3px rgba(51,51,51,.1);box-shadow:0 2px 3px rgba(51,51,51,.1)}
.m-nav .group .has-overlay .overlay-inner{padding:12px 19px;line-height:30px}
.m-nav .group .has-overlay .item{float:left;margin-right:40px;color:#000;text-decoration:none;max-width:140px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.m-nav .group .has-overlay .item:hover{color:#f40}
.m-nav .group .foot{position:absolute;right:0;top:8px}
.m-nav .group .foot .switch-multi{position:absolute;right:60px;height:16px;padding:0 3px;line-height:16px;border:solid 1px #dad9d9;cursor:pointer;white-space:nowrap}
.m-nav .group .foot .switch-multi:hover{color:#f40}
.m-nav .group .foot .show-less,.m-nav .group .foot .show-more{position:absolute;right:10px;height:18px;padding-right:10px;line-height:18px;cursor:pointer;white-space:nowrap}
.m-nav .group .foot .show-less:hover,.m-nav .group .foot .show-more:hover{color:#f40}
.m-nav .group .foot .show-less{display:none}
.m-nav .group .foot .icon-btn-arrow-down-2,.m-nav .group .foot .icon-btn-arrow-up-2{position:absolute;top:7px;right:2px;cursor:pointer}
.m-nav .group .multi-mode .body .items .icon-btn-check-small{display:inline-block}
.m-nav .group .multi-mode .body .btns{display:block}
.m-nav .group .multi-mode .switch-multi{display:none}
.m-nav .group .expand-mode .body .items{height:auto;max-height:102px;overflow:auto}
.m-nav .group .expand-mode .foot .show-more{display:none}
.m-nav .group .expand-mode .foot .show-less{display:block}
.m-nav .group .row-scrollbar-fix .items::-webkit-scrollbar{-webkit-appearance:none}
.m-nav .group .row-scrollbar-fix .items::-webkit-scrollbar:vertical{width:11px}
.m-nav .group .row-scrollbar-fix .items::-webkit-scrollbar:horizontal{height:11px}
.m-nav .group .row-scrollbar-fix .items::-webkit-scrollbar-thumb{border-radius:8px;border:2px solid #fff;background-color:rgba(0,0,0,.5)}
.m-nav .group .row-scrollbar-fix .items::-webkit-scrollbar-track{background-color:#fff;border-radius:8px}
.m-nav .group .hide-toggle .foot .show-less,.m-nav .group .hide-toggle .foot .show-more{display:none}
.m-nav .spus .body{padding:0 52px 0 11px;line-height:24px}
.m-nav .spus .body .items{height:120px;padding:8px 0;overflow:hidden}
.m-nav .spus .body .item{float:left;margin:0 40px 11px 0;width:100px;height:120px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.m-nav .spus .body .pic{display:block;width:100px;height:100px}
.m-nav .spus .body .img{max-width:100px;max-height:100px}
.m-nav .spus .expand-mode .body .items{max-height:none}
.m-nav .spudetail .body{position:relative;padding:8px 19px 8px 110px}
.m-nav .spudetail .body .pic{position:absolute;top:8px;left:11px;width:100px;height:100px;text-align:center}
.m-nav .spudetail .body .img{max-width:100px;max-height:100px}
.m-nav .spudetail .body .info{float:left;display:inline;margin-left:10px;height:100px;overflow:hidden}
.m-nav .spudetail .body .texts{height:22px;overflow:hidden;line-height:22px}
.m-nav .spudetail .body .title{float:left;color:#666;font-size:14px;font-weight:700}
.m-nav .spudetail .body .tag{float:left;display:inline;margin-left:6px}
.m-nav .spudetail .body .desc{margin-top:6px;color:#999}
.m-nav .nav-guide{position:absolute;left:-40px;top:0;border:1px solid #e8e8e8;height:90px;width:14px;padding:7px 9px;font-size:14px;line-height:16px;color:#999;background:#FFF}
.m-nav .nav-guide .link{text-decoration:none}
.m-nav .nav-guide .icon{margin:5px 0 0 -3px}.m-widget-baike{position:absolute;display:none;z-index:10000}

.m-nav .crumb .glyphicon-menu-right{
  float: left;
  margin: 7px 5px 0;
}

.m-nav .crumb .pro .glyphicon-remove {
  position: absolute;
  right: 3px;
  top: 3px;
}

.m-nav .crumb .pro:hover{
	cursor: pointer;
}

.m-nav .crumb .toggle-btn .glyphicon-menu-down , .m-nav .crumb .toggle-btn .glyphicon-menu-up {
  margin-left: 8px;
  margin-top: -4px;
  vertical-align: middle;
}

input.form-control.query-condition-param.m-nav-searcher{
	float: right;
	width: 300px;
	margin: 0 10px;
}

.m-nav .crumb .pro-required {
	padding-right: 0px;
}

.m-nav .crumb .pro-required-submenu {
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: #FFF;
  border: 1px solid #CCC;
  z-index: 1000;
  padding: 5px;
  display: none;
}

.m-nav .crumb .pro-required-submenu .item{
  display:block;
  color: #000;
  text-decoration: none;
  text-align: center;
  line-height: 18px;
}

.m-nav .crumb .pro-required-submenu .item:hover{
  color: #f40 !important;
}

.m-nav{
  font-size: 13px;
}

.m-nav-total-num{
  color: #f40;
}

/*.m-nav .crumb .pro-required:hover{
	border:1px solid #e8e8e8;
}*/

/*.m-nav .crumb .pro-required .glyphicon {
	display: none;
}
*/
/*.m-nav .group .body .item-highLight{
  color: #f40 !important;
}*/

