:global {
  @media (min-width:768px) { 
    .site-content {
      min-height: 82vh;
    }

    .container {
      padding-left:30px;
    }
  }

  label.control-label{
    padding-right:0px;
  }

  .form-section-header{
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
  }

  .form-group{
    margin-bottom: 5px;
  }

  .payment-button {
    width: 100%;
    margin: auto;
  }

  ::-ms-clear, ::-ms-reveal{
    display: none;
  }

  .g-clearfix:after {
    clear: both;
  }

  .g-clearfix:after, .g-clearfix:before {
    content: "";
    display: table;
  }

  .hidden{
    display: none;
  }
  .visible{
    display: inline-block;
  }

  a{
    text-decoration: none;
    cursor: pointer;
  }

  .error{
    color:red;
  }

  .warning{
    color:#f40;
  }

  // .table th , .table td {
  //   text-align:center;
  // }

  /*响应式table布局*/
.table-responsive th{
  white-space: nowrap;
  overflow-x: hidden;
}

@media screen and (max-width: 767px){
  .table-responsive-fixedcol>table th:first-child, .table-responsive-fixedcol>table td:first-child{
    position:absolute; 
    left:9px;
    top:auto;
    z-index: 1;
    width:20%;
    border-top: 1px solid #ddd !important;
    text-align: left;
  }

  .table-responsive-fixedcol .table-striped tr:nth-of-type(odd)>td:first-child{
    background-color: #f9f9f9;
  }
  .table-responsive-fixedcol>table th:first-child{
    margin-top: -1px !important;
  }
  .table-responsive-fixedcol{
    overflow-x:auto;
    width: 80%;
    margin-left: 20%;   
  }
  .mobile-hide{
    display: none;
  }
}
    
}

:global {

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body, button, input, select, textarea {
    font: 14px 'Microsoft Yahei';
  }

  .ctg-logo{
    background: url(/sxlogo.png);
    background-position: center; 
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    padding-left: 50px;
    overflow: hidden;

    &>span{
      display: none;
    }
  }

  .payment-mask{
    width: 100%;
    background: url(/loading.gif);
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-color: #FFF;
  }

  .payment-page-mask{
    position: fixed;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background-image: url(/loading.gif);
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-color: #EEE;
    opacity:0.4;
    filter:alpha(opacity=40);
  }

  .react-bs-table{
    border: none  !important;
    margin: 0  !important;
  }
}
