.payment-login-title{
  font-size: 24px;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
  font-family: simhei;
  font-weight: bold;
  color:gray;
  padding-left:10px;
}

.payment-login-form{
  border: 2px solid #CCC;
  border-radius: 5px;
  width: 35em;
  .form-group{
    margin-bottom: 0;
    padding: 10px 20px;
  }

  &-body{
  	 border-top: 2px solid #CCC;
  	 background-color:#EEE;

  	&>div{
  		padding:10px 20px;
  	}
  }
}