.payment-footer{
  width: 100%;
  background-color: #FFF;

  .copy-right{
  	font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px;
    clear: both;
    text-align: center;
    padding:10px 20px;
  }
}