.payment-nav {
  @media (max-width: 768px) { 
    .ctg-logo{
      background-position: 0 50%;
      width: 210px;
      &>span{
        display: block;
      }
    }
  }

  &>.navbar{
    font-size: 14px;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    margin-bottom:0;
  }

  .icon-bar{
  	background-color: #428bca;
  }

  .navbar-nav li.active{
  	background-color: #EEE;
  }

  &-title{
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
    text-align: center;
    color: #428bca;
  }

  .navbar-text {
  	font-size: 12px;
  }
}

